* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #fff;
}

.grid-container {
    display: grid;
    grid-template-areas:
    "header"
    "top"
    "mid1"
    "mid2"
    "mid3"
    "mid4"
    "bottom"
    "footer";
}

header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-image: url(img/AlaskaSnowyMountains.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    text-align: center;
}

h1 {
    color: #ff6600;
    font-size: 5rem;
    font-weight: 900;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

h2 {
    color: #000066;
    font-size: 3.5rem;
    font-weight: 800;
    margin: 20px 0;
}

h3 {
    color: #000080;
    font-size: 2.5rem;
    font-weight: 700;
}

.top {
    background-color: #fff;
    grid-area: top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 60px 0 60px;
    text-align: center;
}

.top p {
    font-size: 1.25rem;
    line-height: 1.75;
    padding: 0 25%;
}

.mid-text-component {
    height: 50%;
    padding: 0 30px;
}

.mid-text-component p {
    font-size: 1.2rem;
    line-height: 2;
    padding: 40px 0;
}

.mid-text-component a {
    color: #ff6600;
    font-size: 1rem;
    font-weight: 900;
    letter-spacing: 0.15em;
    text-decoration: none;
    text-transform: uppercase;
}

.mid1 {
    background-color: #fff;
    grid-area: mid1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 70px 30px;
    text-align: left;
}

.img-mid1 {
    width: 40%;
    height: auto;
    margin: 0 30px;
}

.mid2 {
    background-color: #fff;
    grid-area: mid2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 70px 30px;
    text-align: right;
}

.img-mid2 {
    width: 45%;
    height: auto;
    margin: 0 30px;
}

.mid3 {
    background-color: #fff;
    grid-area: mid3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 30px;
    padding: 70px 30px;
    text-align: left;
}

.img-mid3 {
    width: 50%;
    height: auto;
    margin: 0 30px;
}

.mid4 {
    background-color: #fff;
    grid-area: mid4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 30px;
    padding: 70px 30px;
    text-align: right;
}

.img-mid4 {
    width: 45%;
    height: auto;
    margin: 0 30px;
}

.bottom {
    grid-area: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000066;
    height: 400px;
    background-image: url(img/AlaskaMountain3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 50px;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2.5;
    font-weight: 800;
}

footer {
    background-color: #000;
    color: #fff;
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    padding: 20px 0;
}






@media only screen and (max-width: 1200px) {

    h3 {
        padding-top: 25px;
    }

    .top p {
        padding: 0;
    }

    .mid-text-component {
        text-align: center;
    }

    .mid1,
    .mid2,
    .mid3,
    .mid4 {
        flex-direction: column;
        /* border-top: 2px solid #ff6600;
        border-radius: 10%; */
    }

    .img-mid1,
    .img-mid2,
    .img-mid3,
    .img-mid4 {
        width: 80%;
    }

    .img-mid2,
    .img-mid4 {
        order: -1;
    }

}